# Database Configuration (Render PostgreSQL)
# Qeyd: Lokal mühitdə SSL sertifikat xətası almamamaq üçün 'sslfactory' parametri əlavə edilib.
DATABASE_URL=jdbc:postgresql://dpg-d6v58ukr85hc73b5ma6g-a.frankfurt-postgres.render.com/taskmanagementsystem_db?ssl=true&sslmode=require&sslfactory=org.postgresql.ssl.NonValidatingFactory
DATABASE_USERNAME=taskmanagementsystem_db_user
DATABASE_PASSWORD=oFXACBcpV5iK18PB6MfCrcvlBlp3vOiJ

# Mail Server Configuration (Gmail SMTP)
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=gultajguliyeva2@gmail.com
SPRING_MAIL_PASSWORD=uceylmecenhhvutr

# Server Configuration
PORT=9000

# JPA/Hibernate Settings
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect